repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-json
        stages: [pre-commit]
      - id: pretty-format-json
        stages: [pre-commit]
        exclude: \.ipynb$
        args:
          - --autofix
          - --no-sort-keys
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
      - id: debug-statements
        stages: [pre-commit]
        language_version: python3.12
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.6
    hooks:
      - id: ruff
        stages: [pre-commit]
        types_or: [ python, pyi ]
        args:
          - --fix
          - --exit-non-zero-on-fix
      - id: ruff-format
        types_or: [ python, pyi ]
